/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
@font-face {
  font-family: BebasNeue-Regular;
  src: url('../public/fonts/BebasNeue-Regular.otf');
}
@font-face {
  font-family: Metropolis-Regular;
  src: url('../public/fonts/Metropolis-Regular.otf');
}
html,
body {
  height: 100%;
  font-size: 62%;
  font-family: Metropolis-Regular, sans-serif;
}
h1,
h2,
h3 {
  font-family: BebasNeue-Regular, sans-serif;
  font-size: 5rem;
  font-weight: 300;
}
.container {
  font-size: 1.8rem;
}
nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  background: grey;
}
nav h1 {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
  color: maroon;
}
nav a {
  margin: 0rem 1rem;
  color: darkblue;
  text-decoration-line: underline;
  cursor: pointer;
}
/* sticky nav */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
/* sticky nav */
.sticky + .dummy-div {
  padding-top: 8rem;
}
section {
  margin: 5rem;
  padding: 2rem;
}
section p {
  margin: 2rem;
}
section li {
  margin: 2rem;
}
section blockquote {
  margin: 2rem;
  font-size: 2rem;
  color: grey;
  font-family: BebasNeue-Regular, sans-serif;
}
